<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/style.css" />
        <title>Music Generator - Your Bookmarks</title>
    </head>

    <body>
        <nav class="navbar">
            <div class="logo"><a href="{{ url_for('main') }}">HOME</a></div>
            <ul  class="nav-links">
                <div class="menu">
                    <li><a href="{{ url_for('faq') }}">FAQ</a></li>
                    {% if session["logged_in"] == True %}
                        <li><a href="{{ url_for('bookmarks') }}">Bookmarks</a></li>
                        <li><a href="{{ url_for('sign_out') }}">Sign Out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('sign_in') }}">Sign In</a></li>
                        <li><a href="{{ url_for('sign_up') }}">Sign Up</a></li>
                    {% endif %}
                </div>
            </ul>
        </nav>
        <h1>{{ session["username"] }}'s Bookmarks</h1>
        <div class="bookmarks">
            <table style="text-align:center">
                <tr>
                    <th>Created</th>
                    <th>Genre</th>
                    <th>Tempo</th>
                    <th>Length</th>
                    <th>Instruments</th>
                    <th>Dynamics</th>
                    <th>MIDI</th>
                    <th>WAV</th>
                    <th>Delete</th>
                </tr>
                {% for row in input %}<tr>
                   <td>{{ row['username'] }}</td>  <!--This is actually the timestamp-->
                   <td>{{ row['genre'] }}</td>  
                   <td>{{ row['tempo'] }}</td>  
                   <td>{{ row['length'] }}</td>  
                   <td>{{ row['instruments'] }}</td>  
                   <td>{{ row['dynamics'] }}</td>  
                   <td><button class="download-button"><a href="{{ row['midi_link'] }}" download="{{ row['time_created'] }}.mid">Download</i></a></button></td>   
                   <td><button class="download-button"><a href="{{ row['wav_link'] }}"  download="{{ row['time_created'] }}.wav">Download</i></a></button></td>   
                   <td><form style="width:100%" method="post" action="{{ url_for('delete_bookmark', time_created=row['time_created']) }}"><button class="delete-button" type="submit" value="Delete">Delete</button></form></td>   
                </tr>{% endfor %}
            </table>
        </div>
    </body>
</html>