<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/style.css" />
        <title>Music Generator - FAQ</title>
    </head>
    
    <body>
        <nav class="navbar" id="top">
            <div class="logo"><a href="{{ url_for('main') }}">HOME</a></div>
            <ul  class="nav-links">
                <div class="menu">
                    <li><a href="{{ url_for('faq') }}">FAQ</a></li>
                    {% if session["logged_in"] == True %}
                        <li><a href="{{ url_for('bookmarks') }}">Bookmarks</a></li>
                        <li><a href="{{ url_for('sign_out') }}">Sign Out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('sign_in') }}">Sign In</a></li>
                        <li><a href="{{ url_for('sign_up') }}">Sign Up</a></li>
                    {% endif %}
                </div>
            </ul>
        </nav>
        <h1>Frequently Asked Questions</h1>
        <div class="faq">
            <div class="faq-sidebar">
                <p style="font-weight:bold">Quick Nav</p>
                <ol>
                    <li><a href="#Q1">How do I use [Music Generator]?</a></li>
                    <li><a href="#Q2">What can I do with the music I generate?</a></li>
                    <li><a href="#Q3">Does [Music Generator] create completely unique music?</a></li>
                    <li><a href="#Q4">How does [Music Generator] work?</a></li>
                </ol>
            </div>
            <ul>
                <li id="Q1">Q: How do I use [Music Generator]?</li>
                <li>A: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est, repudiandae veniam quo numquam dolorem sit eveniet, recusandae fugiat architecto assumenda magni debitis esse. Consequatur optio ab doloribus, ad quia eaque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Non corporis eos sit nulla consequuntur suscipit autem vel. Labore nisi consequatur necessitatibus, ex, excepturi totam qui, nostrum aspernatur fuga ipsam magnam!</li>
                <li id="Q2">Q: What can I do with the music I generate?</li>
                <li>A: Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, beatae nostrum doloribus rerum animi assumenda nihil facere expedita. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, quod. Maiores totam laboriosam nobis corrupti dolores temporibus. Illum, perspiciatis dignissimos labore maiores ipsam, ex modi iure, sed aperiam totam laudantium!</li>
                <li id="Q3">Q: Does [Music Generator] create completely unique music?</li>
                <li>A: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum deleniti placeat reprehenderit vitae minus, asperiores maiores veritatis earum magnam culpa quo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, iure officia quaerat esse itaque ducimus rerum. Molestias doloremque veritatis odit modi perferendis consequuntur, accusamus atque, exercitationem a aliquid temporibus corrupti?</li>
                <li id="Q4">Q: How does [Music Generator] work?</li>
                <li>A: Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, placeat magni. Veritatis dolore sapiente culpa earum. Voluptates, necessitatibus quis, labore pariatur molestiae expedita nihil sint iure voluptatem, modi accusamus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint deserunt est, aspernatur blanditiis suscipit facere voluptas ipsa soluta eveniet vel quam distinctio aliquam voluptate. Eius a quas quis tenetur sint.</li>
            </ul>      
        </div>
        <div class="to_top">
            <a href="#top">&uarr; Return to top</a>      
        </div>
        </body>
</html>