<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/style.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <title>RiffMuse - An Inspirational Tool for Composers</title>
    </head>
    
    <body>
        <nav class="navbar">
            <div class="logo"><a href="{{ url_for('main') }}">RiffMuse</a></div>
            <ul  class="nav-links">
                <div class="menu">
                    <li><a href="{{ url_for('faq') }}">FAQ</a></li>
                    {% if session["logged_in"] == True %}
                        <li><a href="{{ url_for('bookmarks') }}">Bookmarks</a></li>
                        <li><a href="{{ url_for('sign_out') }}">Sign Out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('sign_in') }}">Sign In</a></li>
                        <li><a href="{{ url_for('sign_up') }}">Sign Up</a></li>
                    {% endif %}
                </div>
            </ul>
        </nav>
        <form name="generate_music", method="POST"><br/>
            <div class="action_button">
                <input type="submit" name="action" value="Generate">
            </div>
            <div class="home_grid">
                <div class="home_one">
                    <fieldset>
                        <legend>Genre</legend>
                        {% if 'Classical' in params.values() %}
                        <input type="radio" id="Classical" name="genre" value="Classical" checked="checked">
                        <label for="Classical">Classical</label><br>
                        <input type="radio" id="Pop" name="genre" value="Pop">
                        <label for="Pop">Pop</label><br>
                        <input type="radio" id="Rock" name="genre" value="Rock">
                        <label for="Rock">Rock</label><br>
                        {% elif 'Pop' in params.values() %}
                        <input type="radio" id="Classical" name="genre" value="Classical">
                        <label for="Classical">Classical</label><br>
                        <input type="radio" id="Pop" name="genre" value="Pop" checked="checked">
                        <label for="Pop">Pop</label><br>
                        <input type="radio" id="Rock" name="genre" value="Rock">
                        <label for="Rock">Rock</label><br>
                        {% else %}
                        <input type="radio" id="Classical" name="genre" value="Classical">
                        <label for="Classical">Classical</label><br>
                        <input type="radio" id="Pop" name="genre" value="Pop">
                        <label for="Pop">Pop</label><br>
                        <input type="radio" id="Rock" name="genre" value="Rock" checked="checked">
                        <label for="Rock">Rock</label><br>
                        {% endif %}
                    </fieldset>
                </div>
                <div class="home_two">
                    <div class="slider">
                        <label for="tempo">Tempo</label><br/>
                        <input type="range" min=1 max=3 value={{ params['tempo'] }} class="slider" id="tempo" name="tempo">
                        <div class="minmax_labels">
                            <div>slow</div>
                            <div>fast</div>
                        </div>
                    </div>
                </div>
                <div class="home_three">
                    <div class="slider">
                        <label for="length">Length</label><br/>
                        <input type="range" min=1 max=3 value={{ params['length'] }} class="slider" id="length" name="length"/>
                        <div class="minmax_labels">
                            <div>short</div>
                            <div>long</div>
                        </div>
                    </div>
                </div>
                <div class="home_four">
                    <div class="instrument_box">
                        <fieldset>
                            <legend>Instrument Selection</legend>
                            <div class="instrument_half-box">
                                {% if 'piano' in params.values() %}
                                <input type="checkbox" id="piano" name="piano" value="piano" checked/>
                                {% else %}
                                <input type="checkbox" id="piano" name="piano" value="piano"/>
                                {% endif %}
                                <label for="piano">Piano</label><br/>
                                
                                {% if 'guitar' in params.values() %}
                                <input type="checkbox" id="guitar" name="guitar" value="guitar" checked/>
                                {% else %}
                                <input type="checkbox" id="guitar" name="guitar" value="guitar"/>
                                {% endif %}
                                <label for="guitar">Guitar</label><br/>

                                {% if 'drums' in params.values() %}
                                <input type="checkbox" id="drums" name="drums" value="drums" checked/>
                                {% else %}
                                <input type="checkbox" id="drums" name="drums" value="drums"/>
                                {% endif %}
                                <label for="drums">Drums</label><br/>
                            </div>
                            <div class="instrument_half-box">
                                {% if 'violin' in params.values() %}
                                <input type="checkbox" id="violin" name="violin" value="violin" checked/>
                                {% else %}
                                <input type="checkbox" id="violin" name="violin" value="violin"/>
                                {% endif %}
                                <label for="violin">Violin</label><br/>

                                {% if 'flute' in params.values() %}
                                <input type="checkbox" id="flute" name="flute" value="flute" checked/>
                                {% else %}
                                <input type="checkbox" id="flute" name="flute" value="flute"/>
                                {% endif %}
                                <label for="flute">Flute</label><br/>

                                {% if 'saxophone' in params.values() %}
                                <input type="checkbox" id="saxophone" name="saxophone" value="saxophone" checked/>
                                {% else %}
                                <input type="checkbox" id="saxophone" name="saxophone" value="saxophone"/>
                                {% endif %}
                                <label for="saxophone">Saxophone</label><br/>
                            </div>
                        </fieldset>
                    </div>
                </div>
                        <div class="home_five">
                            <div class="slider">
                                <label for="dynamics">Dynamic Control</label><br/>
                                <input type="range" min=1 max=3 value={{ params['dynamics'] }} class="slider" id="dynamics" name="dynamics"/>
                                <div class="minmax_labels">
                                    <div>soft</div>
                                    <div>loud</div>
                                </div>
                            </div>
                        </div>
                    
                </div>
            </div>
            <br/>
            <div style="text-align:center; margin-top:10px">
                <p style="font-size:24px">Your output</p>
                <p style="margin-top:16px"><audio controls src="../{{output}}.wav"></audio></p>
                <button class="download-button"><a href="../{{output}}.mid" download="test_output.mid">MIDI <i class="fa fa-download"></i></a></button> 
                <button class="download-button"><a href="../{{output}}.wav" download="test_output.wav">WAV <i class="fa fa-download"></i></a></button>  
                <br/>
                {% if session["logged_in"] == True %}
                    <input type="text" name="song_name" minlength="1" maxlength="35" placeholder="Name your song..." pattern="[a-z0-9]+" size="20">
                    <input type="submit" name="action" value="Bookmark" class="download-button" style="display:inline; font-size:20px">
                {% endif %}
            </div>
        </form>
    </body>
</html>