<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/style.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <title>Music Generator</title>
    </head>
    
    <body>
        <nav class="navbar">
            <div class="logo"><a href="{{ url_for('main') }}">HOME</a></div>
            <ul  class="nav-links">
                <div class="menu">
                    <li><a href="{{ url_for('faq') }}">FAQ</a></li>
                    {% if session["logged_in"] == True %}
                        <li><a href="{{ url_for('bookmarks') }}">Bookmarks</a></li>
                        <li><a href="{{ url_for('sign_out') }}">Sign Out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('sign_in') }}">Sign In</a></li>
                        <li><a href="{{ url_for('sign_up') }}">Sign Up</a></li>
                    {% endif %}
                </div>
            </ul>
        </nav>
        <form name="generate_music", method="POST"><br/>
            <input type="hidden" name="height", placeholder="Enter height in cm" value="12" required/>
            <input type="hidden" name="weight", placeholder="Enter weight in kg" value="1.2" required/>
            <div class="action_button">
                <input type="submit" name="action" value="Generate">
            </div>
            <div class="home_grid">
                <div class="home_one">
                    <fieldset>
                        <legend>Genre</legend>
                        <input type="radio" id="classical" name="genre" checked="checked" value="classical">
                        <label for="classical">Classical</label><br>
                        <input type="radio" id="traditional" name="genre" value="traditional">
                        <label for="traditional">Traditional</label><br>
                        <input type="radio" id="jazz" name="genre" value="jazz">
                        <label for="jazz">Jazz</label><br>
                    </fieldset>
                </div>
                <div class="home_two">
                    <div class="slider">
                        <label for="tempo">Tempo</label><br/>
                        <input type="range" min=1 max=3 value=2 class="slider" id="tempo" name="tempo">
                        <div class="minmax_labels">
                            <div>slow</div>
                            <div>fast</div>
                        </div>
                    </div>
                </div>
                <div class="home_three">
                    <div class="slider">
                        <label for="length">Length</label><br/>
                        <input type="range" min=1 max=3 value=1 class="slider" id="length" name="length"/>
                        <div class="minmax_labels">
                            <div>short</div>
                            <div>long</div>
                        </div>
                    </div>
                </div>
                <div class="home_four">
                    <div class="instrument_box">
                        <fieldset>
                            <legend>Instrument Selection</legend>
                            <div class="instrument_half-box">
                                
                                <input type="checkbox" id="piano" name="instruments" value="piano" checked/>
                                <label for="piano">Piano</label><br/>
                                <input type="checkbox" id="guitar" name="instruments" value="guitar" checked/>
                                <label for="guitar">Guitar</label><br/>
                                <input type="checkbox" id="drums" name="instruments" value="drums" checked/>
                                <label for="drums">Drums</label><br/>
                            </div>
                            <div class="instrument_half-box">
                            <input type="checkbox" id="violin" name="instruments" value="violin" checked/>
                            <label for="violin">Violin</label><br/>
                            <input type="checkbox" id="flute" name="instruments" value="flute" checked/>
                            <label for="flute">Flute</label><br/>
                            <input type="checkbox" id="saxophone" name="instruments" value="saxophone" checked/>
                            <label for="saxophone">Saxophone</label><br/>
                        </div>
                        </fieldset>
                    </div>
                </div>
                        <div class="home_five">
                            <div class="slider">
                                <label for="dynamics">Dynamic Control</label><br/>
                                <input type="range" min=1 max=3 value=2 class="slider" id="dynamics" name="dynamics"/>
                                <div class="minmax_labels">
                                    <div>soft</div>
                                    <div>loud</div>
                                </div>
                            </div>
                        </div>
                    
                </div>
            </div>
            <br/>
            <div style="text-align:center; margin-top:10px">
                <p style="font-size:24px">Your output</p>
                <p style="margin-top:16px"><audio controls src="../static/test_output.mp3"></audio></p>
                <button class="download-button"><a href="../{{output}}.mid" download="test_output.mid">MIDI <i class="fa fa-download"></i></a></button> 
                <button class="download-button"><a href="../{{output}}.wav" download="test_output.wav">WAV <i class="fa fa-download"></i></a></button>  
                <br/>
                {% if session["logged_in"] == True %}
                    <input type="text" name="song_name" minlength="1" maxlength="35" placeholder="Name your song..." pattern="[a-z0-9]+" size="20">
                    <input type="submit" name="action" value="Bookmark" class="download-button" style="display:inline; font-size:20px">
                {% endif %}
            </div>
        </form>
    </body>
</html>