<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/style.css" />
        <title>RiffMuse - Sign Up</title>
    </head>
    
    <body>
        <nav class="navbar">
            <div class="logo"><a href="{{ url_for('main') }}">RiffMuse</a></div>
            <ul  class="nav-links">
                <div class="menu">
                    <li><a href="{{ url_for('faq') }}">FAQ</a></li>
                    {% if session["logged_in"] == True %}
                        <li><a href="{{ url_for('bookmarks') }}">Bookmarks</a></li>
                        <li><a href="{{ url_for('sign_out') }}">Sign Out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('sign_in') }}">Sign In</a></li>
                        <li><a href="{{ url_for('sign_up') }}">Sign Up</a></li>
                    {% endif %}
                </div>
            </ul>
        </nav>
        <form name="sign_up", method="POST">
        <div class="sign_up_grid">
            
            <div class="sign_up_left">
                <ul>
                    <li><label for="username">Username:</label></li>
                    <li><input type="text" id="username" name="username" maxlength="25" required value="{{ request.form['username'] }}"></li>
                    
                    <li><label for="email">Email:</label></li>
                    <li><input type="text" id="email" name="email" maxlength="256" required value="{{ request.form['email'] }}"></li>
                    
                    <li><label for="password">Password:</label></li>
                    <li><input type="password" id="password" name="password" maxlength="20" required value="{{ request.form['password'] }}"></li>
                    
                    <li><label for="confirm password">Confirm password:</label></li>
                    <li><input type="password" id="confirm password" name="confirm password" maxlength="20" required value="{{ request.form['confirm password'] }}"></li>
                </ul>        
            </div>
            <div class="sign_up_right">
                <p>Username should meet this criteria:</p>
                <ul>
                    <li>6 to 25 characters</li>
                    <li>includes only alphanumeric characters, hyphens, and underscores</li>
                </ul>
                <br/>
                <p>Password should meet this criteria:</p>
                <ul>
                    <li>8 to 20 characters</li>
                    <li>includes atleast 1 uppercase letter, 1 lowercase letter, and 1 number</li>
                </ul>
            </div>
        
        </div>
        <button class="action-button" value="Sign Up">Sign Up</button>
            </form>
        <p style="text-align: center;">{{ output }}</p>
    </body>
</html>