<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/style.css" />
        <title>Music Generator - Sign Out</title>
    </head>

    <body>
        <nav class="navbar">
            <div class="logo"><a href="{{ url_for('main') }}">HOME</a></div>
            <ul  class="nav-links">
                <div class="menu">
                    <li><a href="{{ url_for('faq') }}">FAQ</a></li>
                    {% if session["logged_in"] == True %}
                        <li><a href="{{ url_for('bookmarks') }}">Bookmarks</a></li>
                        <li><a href="{{ url_for('sign_out') }}">Sign Out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('sign_in') }}">Sign In</a></li>
                        <li><a href="{{ url_for('sign_up') }}">Sign Up</a></li>
                    {% endif %}
                </div>
            </ul>
        </nav>
        <p style="text-align:center; padding-top:15px">
            Thanks for visiting [Music Generator]<br/><br/>
            See you again soon!
        </p>
    </body>
</html>