<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/style.css" />
        <title>Music Generator - Sign In</title>
    </head>

    <body>
        <nav class="navbar">
            <div class="logo"><a href="{{ url_for('main') }}">HOME</a></div>
            <ul  class="nav-links">
                <div class="menu">
                    <li><a href="{{ url_for('faq') }}">FAQ</a></li>
                    {% if session["logged_in"] == True %}
                        <li><a href="{{ url_for('bookmarks') }}">Bookmarks</a></li>
                        <li><a href="{{ url_for('sign_out') }}">Sign Out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('sign_in') }}">Sign In</a></li>
                        <li><a href="{{ url_for('sign_up') }}">Sign Up</a></li>
                    {% endif %}
                </div>
            </ul>
        </nav>
        
        <form name="sign_in", method="POST">
            <div class="sign_in_container">
            <ul>
                <li><label for="username">Username:</label></li>
                <li><input type="text" id="username" name="username" required></li>
                <li><label for="password">Password:</label></li>
                <li><input type="password" id="password" name="password" required></li>
            </ul>   </div>     
            <button class="action-button" value="Sign In">Sign In</button>
        </form>
        <p style="text-align: center;">{{ output }}</p>
    </body>
</html>